* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background: #eee;
	height: 100%;
	min-height: 100%;
	width:100%;
	color: #222;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Lato', sans-serif;
}

a, a:link, a:active {
	text-decoration: none;
	color: #222;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 1em 0;
}

textarea {
	width: 40%;
	height: 250px;
	float: left;
}

input[type="submit"] {
	border: none;
	background: #95a5a6;
	padding: 10px;
	cursor: pointer;
	width: 90%;
}

input[type="submit"]:hover {
	background: #34495e;
	color: #fff;
}

input[type="file"] {
	border: none;
	background: #95a5a6;
	padding: 10px;
}


.canvas_container {
	max-width: 70%;
	max-height: 500px;
	overflow: auto;
}

.content {
	display: none;
	float: left;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-left: 230px;
}

#download_encoded, #encode_image, #decode_image {
	display: none;
}

#decode_text {
	display: none;
	width: 90%;
}

#decode_submit {
  width: 90%;
}

#encode_file {
	width: 100%;
}

#decode_file {
	float: left;
	width: 40%;
	height: 225px;
}

#imageholder {
	width: 40%;
	float: left;
}

.thumbnail {
	width: 100%;
	height: 100%;
}

.thumbnail img {
	max-width: 100%;
	max-height: 100%;
}

#decode_thumbnail {
	max-width: 40%;
	max-height: 100%;
	float: left;
}

#decodebox {
	width: 100%;
	max-height: 50%;
}

#encode_text {
	width: 49%
	height: 100%;
}
